@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
body{
  font-family: 'Merriweather', serif;
}

.navbar{
  background: #2950ff !important;
 
}

.navbar, a{
  color: white !important;
}

.navbarLink{
  margin-left: 75%;
  margin-right: 0;
  color: white !important;
  
}

a, .nav-link {
  text-decoration: none !important;
}

#forex{
  margin-right: 28%;
}

img{
  width: 12%;
}

.datacard{
  margin-top: 20px;
}

#datacard{
  margin-top: 20px;
}

Link, p, h5{
  font-family: 'Noto Serif', serif;
}