@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Nunito');
body{
  font-family: 'Merriweather', serif;
}

nav, .navbar{
  background: #2950ff !important;
}

.navbar, a{
  color: white !important;
  font-family: 'Nunito', sans-serif;
}

.navbarLink{
  margin-left: 75%;
  margin-right: 0;
  color: white !important;
  
}

a, .nav-link {
  text-decoration: none !important;
}

#forex{
  margin-right: 28%;
}

img{
  width: 12%;
}

.datacard{
  margin: 1px;
}


Link, p, h5{
  font-family: 'Nunito', sans-serif;
}

.Welcard{
  margin: 250px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
}

Button{
  margin: 5px;
}
h3{
  margin:0;
}

.card{
  background : #ffffff !important;
  width: 100%;
  height: auto;
}

.welcome{
  font-size: 1.5rem;
}